NODE_ENV=development
PORT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
JWT_SECRET=
JWT_EXPIRES=1d
JWT_REFRESH_SECRET=
JWT_EXPIRES_REFRESH_TOKEN=7d
OLLAMA_HOST=
LLM_MODEL=
EMBEDDING_MODEL=